* {
	margin: 0;
	padding: 0;
}

body {
	font-family: courier, monospace;
	max-width: 960px;
	margin: 0 auto;
}

body > header {
	float: right;
}

nav {
	font-weight: normal;
	padding: 10px;
	font-size: 20px;
}

ul li {
	list-style-type: none;
}

a {
	text-decoration: none;
}

footer {
	text-align: right;
	position: fixed;
	bottom: 10px;
	right: 10px;
	font-size: 11px;
}

footer a {
	font-size: 17px;
}
