* {
	margin: 0;
	padding: 0;
}

body {
	background: url(/images/bg.png) no-repeat fixed bottom center;
	padding: 16px;
	font-size: 20px;
	font-family: monospace;
}

h1 {
	font-size: 20px;
	text-shadow: -2px -2px white;
}

body > header {
	text-align: right;
	float: right;
}

ul, li {
	display: inline-block;
	list-style-type: none;
}

li {
	margin: 5px 0;
	display: block;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

footer {
	text-align: right;
	position: fixed;
	bottom: 10px;
	right: 10px;
	font-size: 11px;
}

footer a {
	font-size: 16px;
}
