html {
	height: 100%;
}

body {
	background: url(/images/bg.png) no-repeat fixed bottom center;
	background-size: contain;
	height: 100%;
}

h1 {
	font-size: 20px;
	text-shadow: -2px -2px white;
}

body > header {
	text-align: right;
	float: right;
}

ul, li {
	display: inline-block;
	list-style-type: none;
}

li {
	margin: 5px 0;
	display: block;
}

nav a {
	color: black;
}

nav footer, .subtle, .date {
	color: #bbb;
}
