* {
  margin: 0;
  padding: 0;
}

body {
  font-family: courier, monospace;
  background-image: url(bg.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: bottom center;
  padding: 10px;
}

h1 {
  font-size: 27px;
}

body > header {
  display: inline;
  text-align: right;
  float: right;
}

footer {
  text-align: right;
  position: fixed;
  bottom: 10px;
  right: 10px;
  font-size: 11px;
}

footer a {
  font-size: 17px;
}

ul, li {
  display: inline-block;
  list-style-type: none;
  background-color: white;
}

li {
  margin: 5px 0;
  font-size: 24px;
  display: block;
}

a {
  text-decoration: none;
}

a:hover:before {
  content: "> ";
}

