<!doctype html>
<html lang="en">
  <head>
    <title>cloudhead.io</title>
    <link rel="stylesheet" type="text/css" href="/log/log.css">
  </head>
  <body class="essay">
    <header>
      <nav><a href="/">cloudhead.io</a>/<a href="/log">log</a></nav>
    </header>
    <article class="post">
      <header>
        <h1><%= title %></h1>
        <span class="date"><%= date %></span>
      </header>
      <section class="body">
        <%= body %>
      </section>
    </article>
    <footer>
      <p>follow me <a href="http://twitter.com/cloudhead">@cloudhead</a></br />
      <a href="mailto:hello@cloudhead.io">comments@cloudhead.io</a></p>
      <p class="copy">&copy; 2010-2013 Alexis Sellier</p>
    </footer>
  </body>
</html>
