@import url("/css/base.css");

/* Essay list page */

body.essays {
	font-size: 20px;
}

body.essays section {
	padding: 10px;
}

body.essays section > header {
	margin-bottom: 10px;
}

body.essays section  > header > h2 {
	font-size: 20px;
}

body.essays footer {
	text-align: right;
	position: fixed;
	bottom: 10px;
	right: 10px;
	font-size: 11px;
}

body.essays footer a {
	font-size: 17px;
}

body.essays li {
	font-family: "Times New Roman", serif;
	margin: 5px 0;
}

body.essays li .date {
	float: right;
	color: #999;
}

body.essays section p {
	margin: 30px 0;
}

/* Essay view page */

body.essay {
	font-family: "Times New Roman", Times, serif;
	font-size: 24px;
}
body.essay > footer {
	font-family: courier, monospace;
}
body.essay footer {
	text-align: center;
	margin: 0 auto;
	padding: 15px 0 45px 0;
	font-size: 21px;
	line-height: 1.6em;
}
body.essay footer .copy {
	font-size: 14px;
}

.post {
	padding-top: 90px;
}
.post a:hover {
	text-decoration: underline;
}
.post p:first-child {
	margin-top: 0;
}
.post .body, .post header {
	width: 800px;
	margin: 0 auto;
	text-align: left;
}
.post header {
	margin-bottom: 1.5em;
}
.post .body, .post code, .post h2 {
	font-size: 24px;
	line-height: 1.4em;
}
.post .date {
	display: block;
	padding-top: 10px;
	font-size: 20px;
}
.post .date, .post blockquote {
	color: #777;
}
.post blockquote {
	font-style: italic;
}
.post pre {
	margin-left: 10px;
}
.post code {
	font-family: courier, monospace;
}
.post p {
	margin: 1.5em 0;
}
.post h1 {
	font-size: 42px;
}
