html {
	height: 100%;
}

body {
	background: url(/images/bg.png) no-repeat fixed bottom center;
	background-size: contain;
	height: 100%;

    image-rendering: optimizeSpeed;             /* STOP SMOOTHING, GIVE ME SPEED  */
    image-rendering: -moz-crisp-edges;          /* Firefox                        */
    image-rendering: -o-crisp-edges;            /* Opera                          */
    image-rendering: -webkit-optimize-contrast; /* Chrome (and eventually Safari) */
    image-rendering: pixelated;                 /* Chrome                         */
    image-rendering: optimize-contrast;         /* CSS3 Proposed                  */
    -ms-interpolation-mode: nearest-neighbor;   /* IE8+                           */
}

h1 {
	font-size: 20px;
	text-shadow: -2px -2px white;
}

body > header {
	text-align: right;
	float: right;
}

ul, li {
	display: inline-block;
	list-style-type: none;
}

li {
	margin: 5px 0;
	display: block;
}

nav a {
	color: black;
}

nav footer, .subtle, .date {
	color: #bbb;
}

@media /* Smaller desktop */
only screen and (max-device-width: 960px),
only screen and (max-width: 960px) {
  nav ul {
    column-count: 1 !important;
  }
}
